<!-- <h1>Hola mundo {{title}}</h1>
<hr> -->
<!-- <p>Welcome to Angular</p>
<hr>
Funciona lo mismo solo que desde otro archivo
<p>{{counter}}</p>
<button (click)="increaseby(+1)"> +1</button>
<button (click)="reset()">Reset</button>
<button (click)="increaseby(-1)">-1</button -->
<!-- <app-counter></app-counter> ---Carpeta de counter
<app-heroes-hero></app-heroes-hero> --Componente Hero
<app-heroes-list></app-heroes-list> -- Componente List>
< <app-heroes-hero></app-heroes-hero> Componente Hero-->
<app-dbz-main-page></app-dbz-main-page>
